@value colors: '../shared/vars/colors.css';
@value page-background from colors;

@value typography: '../shared/vars/typography.css';
@value family, normal from typography;

.app {
  font-family: family;
  font-size: normal;
  background: page-background;
}
