@value colors: '../shared/vars/colors.css';
@value content-background, border-color from colors;

.content {
  lost-column: 3/4;
  padding: 2em;
  background: content-background;
  border-left: 1px solid border-color;
  border-right: 1px solid border-color;
}
