@value typography: '../shared/vars/typography.css';
@value small from typography;

@value colors: '../shared/vars/colors.css';
@value primary-black from colors;

@value sizes: '../shared/vars/sizes.css';
@value header-height from sizes;

.header {
  font-size: small;
  height: header-height;
  background: primary-black;
}
