.list-label {
  padding: .6em;
  position: relative;
}

.list-label:hover {
  background: #fff;
}

.list-label:hover .settings-button {
  display: block;
}

.words-amount {
  font-size: .7em;
  color: grey;
  position: relative;
  left: .4em;
}

.settings-button {
  width: 1em;
  height: 1em;
  font-size: 1em;
  line-height: 1em;
  position: absolute;
  right: 0;
}
