@value typography: '../shared/vars/typography.css';
@value small, extra-small from typography;

@value colors: '../shared/vars/colors.css';
@value content-background, light-text from colors;

.link:hover {
  text-decoration: none;
}

.list-label {
  padding: .6em;
}

.list-label:hover {
  background: content-background;
}

.words-amount {
  font-size: extra-small;
  color: light-text;
  position: relative;
  left: .6em;
}
